{% extends 'base.html' %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Confirmation</li>
    </ul>
    <div class="well well-small" style="Height: 325px;">
        <div>
            <div>
                <h4>Thank you for reaching out to us.</h4>
                <h4>One of our service representative will contact you soon.</h4>
            </div>
            </br>
            <h4>Contact Details</h4>
            <h5>
                2711 N 1st St.<br/>
                San Jose, CA 95134<br/><br/>

                info@eventhamper.com<br/>
                ﻿Tel (888) 488-4968<br/>
                web:www.eventhamper.com
            </h5>
        </div>
    </div>
{% endblock %}